body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(224, 235, 232, 0.459);
    color: #66BFBF;
    line-height: 2;
}

.top-container {
    background-color: #E0EBE8;
    padding-top: 100px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.imsujoy {
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    margin-bottom: 0;
}

.webdev {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.top-cloud {
    /* position: absolute; */
    float: right;
    /* right: 300px;
    top: 50px; */
    margin-right: 200px;
}

.bottom-cloud {
    /* position: absolute; */
    display: block;
    padding-left: 200px;
    bottom: 300px;
}

.bio {
    width: 50%;
    margin: auto;
}

hr {
    border: dotted rgb(120, 230, 230) 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.profile-pic {
    width: 20rem;
    padding-top: 50px;
}

.coding {
    width: 35%;
}

.drawing {
    height: 10rem;
}

span {
    text-decoration: underline;
}

a {
    color: #66BFBF;
}

.mountain {
    margin: auto 0;
    width: 50%;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    line-height: 1.5;
}

a {
    padding: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.butn {
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 15px;
    background: #66BFBF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.butn:hover {
    background: #7ecccc;
    text-decoration: none;
}

.bottom-container {
    background-color: #E0EBE8;
    padding: 20px;
    margin-top: 10px;
}

.endtext {
    color: rgb(231, 252, 252);
}